*.iml
.gradle
/local.properties
.idea/
.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

key.properties

cmp-iosApp/Podfile.lock
cmp-iosApp/Pods/*
cmp-iosApp/iosApp.xcodeproj/*
!cmp-iosApp/iosApp.xcodeproj/project.pbxproj

*.jks
*.jks.*
app/src/main/play
/gcm-diagnose.log
